@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: Roboto;
    margin: auto;
    text-align: left;
}

.login-form, .contenedor{
    width: 300px;
    margin: auto;
    padding: 0 20px 30px 20px;
    margin-top: 120px;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
}
.login-form h1{
    text-align: left;
    font-size: 22px;
    padding: 100px 0 10px 0;
}
.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #38d1bf;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: normal;
    font-size: large;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
}
.btn-login:hover, .btn-login:active{
    color: #fff;
    background-color: #0ca593;
    border-color: #0ca593;
}
.btn-login:focus{
    box-shadow: 0 0 0 3px;
}
.btn-register{
    width: 100%;
    padding: 1px;
    border: 0;
    cursor: pointer;
    font-size: large;
    color: #002b52;
    box-sizing: border-box;
    margin-top: 15px;
    font-size: 15px;
    /*dar apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    text-decoration: underline;
}
.register-form{
    width: 400px;
    margin: auto;
    padding: 0 20px 60px 20px;
    margin-top: 35px;
    font-family: Roboto;
    text-align: left;
    box-shadow: 0 7px 16px rgba(0, 0, 0, 0.1);
}
.btn-save{
    width: 35%;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color: #38d1bf;
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 15px;
    /*dar apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 30px;
}
.btn-save:hover, .btn-login:active{
    color: #fff;
    background-color: #0ca593;
    border-color: #0ca593;
}
.btn-save:focus{
    box-shadow: 0 0 0 3px;
}
.btn-cancel{
    width: 35%;
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color: #c4bebe;
    color: #ffffff;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 15px;
    /*dar apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
}
.btn-cancel:hover, .btn-login:active{
    color: #fff;
    background-color: #8d9291;
    border-color: #8d9291;
}
.btn-cancel:focus{
    box-shadow: 0 0 0 3px;
}

.register-form h1{
    text-align: left;
    font-size: 22px;
    padding: 100px 0 10px 0;
}
.register-form input[type="password"],
.register-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.register-form, .contenedor{
    width: 300px;
    margin: auto;
    margin-top: 120px;
}
.button-container {
    display: flex;
    justify-content: center;      
    align-items: center;           
    gap: 20px;                   
}

.container {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 120px;
}

h1 {
    text-align: left;
    font-size: 22px;
    padding: 100px 0 10px 0;
    margin-bottom: 20px;
    color: #333;
}

.content p {
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 90px;
    margin-bottom: 56px;
    text-align: left;
    color: #002b52;

}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.btn-logout{
    width: 100%;
    padding: 15px;
    background-color: #d13838;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: normal;
    font-size: large;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
}
.btn-logout:hover, .btn-logout:active{
    color: #fff;
    background-color: #a50c0c;
    border-color: #a50c0c;
}
.btn-logout:focus{
    box-shadow: 0 0 0 3px;
}


/* Header con barra de navegación */
.main-header {
    background-color: #bfbebe;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-header .logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navegación */
.navbar {
    display: flex;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    margin-right: 1em;
}

.nav-link:hover {
    background-color: #555;
}

/* Dashboard y tarjetas */
.dashboard {
    margin-top: 20px;
}

.dashboard-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.dashboard-description {
    color: #666;
    margin-bottom: 20px;
}

.dashboard-options {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 15px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0c234f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.containerindex {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

img.logo-img {
    width: 15vw;
}

.content {
    padding: 1.5em;
}

.footer {
    background-color: #bfbebe;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.icon-p {
    display: block; 
    font-size: 5rem; 
    margin: 10px 100px; 
    color: #57636c;
}
.icon-p2 {
    display: block; 
    font-size: 5rem; 
    margin: 10px 100px; 
    color: #4ba7e6;
}

.content p {
    margin-top: 15px;
    margin-bottom: 25px;
}

.bubble-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #4ba7e6;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.bubble-menu:hover {
    background-color: #007bff;
}

.menu-items {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 10em;
}

.bubble-menu.active .menu-items {
    display: block;
}

.menu-items a {
    display: block;
    padding: 10px;
    color: #4ba7e6;
    text-decoration: none;
}

.menu-items a:hover {
    background-color: #f1f1f1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.table {
    width: 100%; /* Asegúrate de que la tabla use todo el ancho */
    border-collapse: collapse; /* Combina bordes para evitar duplicados */
}

.table th, .table td {
    border: 1px solid #ddd; /* Borde claro entre celdas */
    padding: 8px; /* Espacio dentro de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

.table th {
    background-color: #f2f2f2; /* Color de fondo para el encabezado */
    font-weight: bold; /* Resalta el texto del encabezado */
}

.table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alterna el color de las filas */
}

.table tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el ratón */
}
